[Unit]
Description=Nonos Service
After=network.target
Wants=network.target

[Service]
Type=oneshot
User=atopile
WorkingDirectory=/home/atopile/nonos_server
ExecStart=/home/atopile/nonos_server/.venv_pi/bin/python src/audio_server/main.py
#Restart=always
#RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

