[Unit]
Description=Nonos Service
After=network.target pipewire.service
Wants=network.target pipewire.socket

[Service]
Type=oneshot
User=atopile
WorkingDirectory=/home/atopile/nonos_server
ExecStart=/home/atopile/nonos_server/.venv_pi/bin/python src/audio_server/main.py
#Restart=always
#RestartSec=10
StandardOutput=journal
StandardError=journal
Environment="PIPEWIRE_REMOTE=/run/user/1000/pipewire-0"

[Install]
WantedBy=multi-user.target

